<!--<div class="embed-responsive embed-responsive-16by9" ng-show="isStreamingRunning == true">-->
    <!--<video controls autoplay width="100%" height="auto"></video>-->
<!--</div>-->

<div class="container">
    <div class="col-md-10 col-md-push-1" ng-show="getIsDownloadVisible()">
        <div class="row">
            <div class="col-xs-12">
                <div id="page-download" ng-class="{ 'page-download-streaming': isStreamingRunning, 'page-download-image': isImage }">

                    <p class="lead">
                        This is a peer-to-peer download. You will download the file below directly from another peer. <a
                            ng-href="#/about">More Information</a>
                    </p>

                    <div ng-if="isImage" class="page-download-image-preview" ng-cloak>
                        <div class="col-sm-10 col-sm-push-1">
                            <img reepio-loading-indicator reepio-loading-indicator-message="Loading image preview..."
                            alt="{{ downloadService.file.name }}" title="{{ downloadService.file.name }}" ng-src="{{fileSystemUrl}}" class="img img-responsive" />
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="well">
                        <!-- not enough filesystem space -->
                        <div class="row" ng-show="downloadService.file.noFileSystem && downloadService.file.size > 524288000">
                            <div class="col-sm-12">
                                <div class="well tile">
                                    <div class="row">
                                        <div class="col-sm-2 text-center">
                                            <i class="fa fa-warning" style="font-size: 64px;"></i>
                                        </div>
                                        <div class="col-sm-10">
                                            <h3 style="margin-top: 0;">Not enough disk space</h3>
                                            <p>
                                                The granted disk space exceeds the file size.
                                                The file will be saved into your memory which may cause instabilities if your memory is full.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <p2m-file-icon file-type="downloadService.file.type" class="file-icon-small"></p2m-file-icon>
                            </div>

                            <div class="col-xs-12 col-sm-10">
                                <div class="file-name">
                                    <h4 title="{{ downloadService.file.name }}" class="pull-left"> {{ downloadService.file.name }} </h4>
                                    <span class="pull-right text-muted hidden-xs">{{ downloadService.file.size|humanFileSize }}</span>
                                </div>
                                <div class="clearfix"></div>

                                <p2m-progress-bar percent="downloadService.file.progress" speed="downloadService.file.bytesPerSecond" show-progress="true"></p2m-progress-bar>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group-justified">
                                    <a class="btn btn-lg btn-primary" ng-click="downloadFile()" ng-show="downloadService.downloadState == 'ready' && isStreamingRunning != true">
                                        <span class="fa fa-download"></span> Download
                                    </a>

                                    <a class="btn btn-lg btn-primary" ng-click="startStream()" ng-if="downloadService.downloadState == 'ready' && isStreamAble && isStreamingRunning == false">
                                        <span class="fa fa-play"></span> Stream
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div ng-show="downloadService.downloadState == 'inprogress' && isStreamingRunning == false">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-lg btn-primary disabled col-xs-12">
                                    <span class="fa fa-refresh fa-spin"></span> Downloading...
                                </a>
                            </div>
                        </div>

                        <a class="btn btn-lg btn-primary col-xs-12" ng-click="resumeUpload()" ng-show="downloadService.downloadState == 'paused'">
                            <span class="fa fa-play"></span> Resume download
                        </a>


                        <a class="btn btn-lg btn-primary col-xs-12" ng-click="saveFile()" ng-show="downloadService.downloadState == 'finished'">
                            <i class="fa fa-download"></i> Save to disk
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <a id="download-frame" download="{{ file.name }}" href="{{ downloadService.file.fileSystemUrl }}" style="display: none"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- authentication -->
    <div class="row" ng-show="downloadService.downloadState == 'authentication'">
        <div class="col-md-10 col-md-push-1" id="page-download-authenticating">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="lead">
                            <strong>This file is password protected</strong><br/>
                            Please enter the correct password below to unlock and download this file.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form ng-submit="doAuthentication()">
                            <div class="input-group input-group-lg">
                                <input type="password" class="form-control text-center" ng-model="password" placeholder="Password">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="doAuthentication()">
                                        <span class="fa fa-unlock"></span> <span class="hidden-xs">Unlock</span>
                                    </button>
                                </span>
                            </div>
                        </form>

                        <alert type="danger" ng-show="authenticationError">{{ authenticationError }}</alert>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Connecting... -->
    <div class="col-sm-10 col-sm-push-1" ng-show="downloadService.downloadState == 'connecting' && ! downloadError" id="page-download-connecting">
        <div class="text-center">
            <span class="fa fa-spin fa-gear" style="font-size: 32px"></span>
            <span class="fa fa-spin fa-gear" style="font-size: 64px"></span>
            <span class="fa fa-spin fa-gear" style="font-size: 16px"></span>
            <h3>Connecting to remote client...</h3>
        </div>
    </div>

    <div class="text-center" id="page-download-error" ng-show="downloadError">
        <span class="fa fa-warning" style="font-size: 64px;"></span>
        <h3>{{ downloadError }}</h3>
        <p ng-show="downloadErrorDescription">{{ downloadErrorDescription }}</p>
    </div>
</div>

<div class="clearfix"></div>

<div class="container">
    <div class="row">
        <div class="well well-sm">
            <div class="text-center">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- reep.io wide -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6890068258895036"
                     data-ad-slot="1776785037"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>